body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reg-form{
    background-color: bisque;
    padding:50px;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0px 0px 10px 0px;
}
